<nav class="navigationBar">
    <div class="leftNav">
        <i class="fa-solid fa-house-crack fa-3x logo" ></i>
    </div>
    <div class="rightNav">
        <a class="links"href="/">Home</a>
        <!-- <a class="links"href="create_project">Create Project</a> -->
    </div>
</nav>